.frame-div {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset;
    background-color: #121212;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    min-height: 60px; 
    padding: 20px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 1rem; 
  }
  

  
  