<div class="grid-container">
  <app-header></app-header>
    <div class="main-content">
      
    <div class="contenedor-img large">
      <img src="starry.png" alt="StarryNight">
      <p class="image-info1">Fecha de creación: 1888</p>
      <p class="image-title">Starry Night</p>
    </div>

    <div class="center-text">
      <p>"Often it seems to me night is even more richly coloured than day"</p>
      <h2>Starry Night</h2>
      <p>Vida del creador: 1853 - 1890</p>
    </div>

    <div class="show-more">
      <p>Show More</p>
      <div class="arrow">&#x25BC;</div>
      <div class="square"></div>
      <div class="arrow">&#x25BC;</div>

    </div>

    <div class="contenedor-img medium">
      <img src="image.png" alt="">
      <p class="image-info2">Fecha de creación: entre 1892 et 1895</p>
      <p class="image-title">¿Se trata de París o de otra ciudad cualquiera?</p>
    </div>

    <div class="contenedor-img medium">
      <img src="bones.png" alt="">
      <p class="image-info3">Fecha de creación: January 1886 - February 1886</p>
      <p class="image-title">Head of a Skeleton with a Burning Cigarette</p>
    </div>

    <div class="contenedor-img large">
      <img src="wheatfield.png" alt="Wheatfield under Thunderclouds">
      <p class="image-title">Wheatfield under Thunderclouds</p>
      <p class="image-info">Fecha de creación: July 1890 - 1890</p>
    </div>

  </div>
  <app-footer></app-footer>

</div>
