
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: #121212;
  padding-bottom: 20px;

}

.main-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.contenedor-img {
  text-align: center;
  color: white;
}

.contenedor-img img {
  max-width: 90%;
  height: auto;
  padding-top: 20px;
}

.large {
  grid-column: span 2; 
}

.medium {
  grid-column: span 1;
}

.image-title {
  font-size: 1.5rem;
  margin-top: 10px;
  color: white;
}

.image-info{
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 20px;
 
}
.image-info3{
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  padding-left: 400px;
}

.image-info1 {
  font-size: 1rem;
  margin-top: 5px;
  display: flex;
  padding-left: 1350px;
}
.image-info2{
  font-size: 1rem;
  margin-top: 5px;
  display: flex;
  padding-left: 480px;
}

.center-text {
  grid-column: span 2;
  text-align: center;
  width: auto;
  color: white;
  padding: 20px;
  font-style: italic;
  border-top: 1px solid #323232;
  border-bottom: 1px solid #323232;
  gap: 50px;
}

.show-more {
  grid-column: span 2;
  text-align: center;
  margin-top: 30px;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.square{
  width: 50px; 
  height: 30px;
  background-color: #fff; 
  margin: 20px auto; 
}

.show-more .arrow {
  font-size: 2rem;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }
  
  .large, .medium {
    grid-column: span 1;
  }
}






