.instance-parent {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #121212;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    padding: 20px;
    height: auto; 
  }
  
  /* Estilos para Home */
  .exclude-wrapper {
    background-color: #121212;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .exclude-icon {
    color: #F6F7FB;
    font-size: 40PX;
  }
  
  /* Estilos para Favoritos */
  .exclude-container {
    background-color: #121212;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
  /* Estilos para Explora */
  .exclude-frame {
    background-color: #121212;
    padding: 10px 20px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  @media (max-width: 768px) {
    .instance-parent {
      flex-direction: column; 
      align-items: flex-start;
      padding: 10px;
    }
  
    .exclude-wrapper, .exclude-container, .exclude-frame {
      width: 100%; 
      margin-bottom: 20px; 
      text-align: center;
    }
  
    .exclude-icon {
      font-size: large; 
    }
  }
  
  
  